<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Photo Read Page</h1>

             <div class="form-group">
                <lavel>Title</lavel>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
            </div>
            <div class="form-group">
                <label>Review Count</label>
                <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
            </div>
            <div class="form-group">
                <label>Avg</label>
                <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
            </div>
        <style>
            .uploadResult{
                width: 100%;
                background-color: gray;
                margin-top: 10px;
            }
            .uploadResult ul{
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }

            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img{
                width: 100px;
            }

            </style>

            <div class="uploadResult">
                <ul>
                    <li th:each="photoImage: ${dto.imageDTOList}" th:data-file="${photoImage.getThumbnailURL()} ">
                        <img th:if="${photoImage.path != null}" th:src="|/display?fileName=${photoImage.getThumbnailURL()}|">
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary"> Review Count
                <span class="badge badge-light"> [[${dto.reviewCnt}]]</span>
            </button>

            <button type="button" class="btn btn-info addReviewBtn">
                Review Register
            </button>
             <a th:href="@{/photo/list(
                    page = ${requestDTO.page},
                    type = ${requestDTO.type},
                    keyword = ${requestDTO.keyword})}">
            <button type="button" class="btn btn-warning addReviewBtn">
                Go List
            </button>
             </a>

            <div class="list-group reviewList">

            </div>


        <div class="reviewModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            コメント登録
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Reviewer ID</label>
                            <input class="form-control" type="text" name="pid">
                        </div>
                        <div class="form-group">
                            <label>Grade
                                <span class="grade"></span>
                            </label>
                            <div class='starrr'></div>
                        </div>
                        <div class="form-group">
                            <label>Review Text</label>
                            <input class="form-control" type="text" name="text" placeholder="Good Photo!">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary reviewSaveBtn">Save</button>
                        <button type="button" class="btn btn-warning modifyBtn">Modify</button>
                        <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="imageModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            Picture
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/starrr.js}"></script>
        <link th:href="@{/css/starrr.css}" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

        <script>
        $(document).ready(function(e){   //별점 이벤트 처리

            var grade = 0;
            var pno = [[${dto.pno}]];

            $('.starrr').starrr({
                rating: grade,
                change: function(e, value){
                    if(value){
                        console.log(value);
                        grade = value;
                    }
                }
            });
              //  $(".reviewModal").modal("show");

              var reviewModal = $(".reviewModal");
              var inputPid = $('input[name="pid"]');
              var inputText = $('input[name="text"]');

              $(".addReviewBtn").click(function(){
                    inputPid.val("");
                    inputText.val("");

                    $(".removeBtn, .modifyBtn").hide();
                    $(".reviewSaveBtn").show();

                    reviewModal.modal('show');
              });

                $('.reviewSaveBtn').click(function() {

                    var data = {pno:pno, grade:grade, text:inputText.val(), pid: inputPid.val() };

                    console.log(data);

                    $.ajax({
                        url:'/reviews/'+pno,
                        type:"POST",
                        data:JSON.stringify(data),
                        contentType:"application/json; charset=utf-8",
                        dataType:"text",
                        success: function(result){

                            console.log("result: " + result);

                            self.location.reload();

                        }
                    })
                    reviewModal.modal('hide');
                });

                function getPhotoReviews(){

                    function formatTime(str){
                        var date = new Date(str);

                        return date.getFullYear() + '/' +
                        (date.getMonth() + 1) + '/' +
                        date.getDate() + ' ' +
                        date.getHours() + ':' +
                        date.getMinutes();
                    }

                    $.getJSON("/reviews/" + pno + "/all", function(arr){
                        var str = "";

                        $.each(arr, function(idx, review){
                            console.log(review);

                            str += '<div class="card-body" data-reviewnum='+ review.reviewnum +' data-pid='+ review.pid +'>';
                            str += '<h5 class="card-title">' + review.text + '<span class="badge badge-danger">' + '&nbsp'+ review.grade + '&nbsp' + '</span></h5>';
                            //str += '<h5 class="card-title">' + review.text + '<span>' + review.grade + '</span></h5>';
                            str += '<h6 class="card-subtitle mb-2 text-muted">' + review.name + '</h6>';
                            str += '<p class="card-text">' + formatTime(review.regDate) + '</p>';
                            str += '<hr>';
                            str += '</div>';

                        });
                            $(".reviewList").html(str);
                    });
                }
                getPhotoReviews();

                var reviewnum;

                $(".reviewList").on("click", ".card-body", function() {

                    $(".reviewSaveBtn").hide();
                    $(".removeBtn , .modifyBtn").show();


                    var targetReview = $(this);

                    reviewnum = targetReview.data("reviewnum");

                    console.log("reviewnum: "+ reviewnum);

                    inputPid.val(targetReview.data("pid"));
                    inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());

                    var grade = targetReview.find('.card-title span').html();

                    //$(".starrr a:nth-child("+grade+")").trigger('click');

                    $('.reviewModal').modal('show');
                });

                $(".modifyBtn").on("click", function(){
                    var data = {reviewnum: reviewnum, pno:pno, grade:grade, text:inputText.val(), pid: inputPid.val()};

                    console.log(data);

                    $.ajax({
                        url: '/reviews/' + pno + "/" + reviewnum,
                        type: "PUT",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(result){
                            console.log("result: " + result);

                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

                $(".removeBtn").on("click", function(){

                    var data = {reviewnum: reviewnum};

                    console.log(data);

                    $.ajax({
                        url : '/reviews/' + pno + "/" + reviewnum,
                        type : "DELETE",
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function(result){
                            console.log("result: " + result);

                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
               });

               $(".uploadResult li").click(function(){

                    var file = $(this).data('file');

                    console.log(file);

                    $('.imageModal .modal-body').html("<img style='width:80%' src='/display?fileName=" + file + "&size=1'>")

                    $(".imageModal").modal("show");

               });
        });
        </script>

    </th:block>
</th:block>
</html>